<% content_for :header do %>
  <div class="hero-unit">
    <div class="container">
      <%= render 'layouts/top_menu' %>
      <div class="span6">
        <h1>Unmute your slides!</h1>
        <p>
          Speaker Voice is the easiest way to add an audio narration
          to your slides from Speaker Deck.
        </p>
        <p>
          <% if user_signed_in? %>
            <%= link_to 'Create a new deck', new_user_deck_url(current_user),
                class: 'btn btn-primary btn-large',
                disable_with: 'Please wait...' %>
          <% else %>
            <%= link_to 'Enter with Twitter', 'auth/twitter',
                class: 'btn btn-primary btn-large',
                disable_with: 'Please wait...' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<ul class="thumbnails">
  <%- Deck.order("rand()").limit(8).each do |deck| -%>
    <li class="span3">
      <%= link_to(image_tag(deck.thumb_url, size: '210 × 157'),
                  user_deck_url(deck.user, deck), class: 'thumbnail') %>
      <p><%= deck.title  %> </p>
    </li>
  <%- end -%>
</ul>