<% content_for :header do %>
  <div class="hero-unit">
    <div class="container">
      <div class="span6">
        <h1>Unmute your slides!</h1>
        <p>
          Speaker Voice is the easiest way to add an audio narration
          to your slides from Speaker Deck.
        </p>
        <% unless user_signed_in? %>
        <p>
          <%= link_to 'Sign in with Twitter', 'auth/twitter', class: 'btn btn-primary btn-large' %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://placehold.it/260x180", size: '260x180' %>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://placehold.it/260x180", size: '260x180' %>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://placehold.it/260x180", size: '260x180' %>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://placehold.it/260x180", size: '260x180' %>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://placehold.it/260x180", size: '260x180' %>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://placehold.it/260x180", size: '260x180' %>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://placehold.it/260x180", size: '260x180' %>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://placehold.it/260x180", size: '260x180' %>
    </a>
  </li>
</ul>