<div class="row">
  <div class="span12">
    <div class="deck empty">
      <%= form_for [@deck.user, @deck], html: { class: 'well' } do |f| %>
        <div class="control-group <%= 'error' if f.object.errors.include?(:url) %>">
          <%= f.label :url, 'Copy and paste slides URL into the field', class: 'control-label' %>
          <div class="controls">
            <%= f.url_field :url, placeholder: 'http://', autofocus: true,
                class: 'span8' %>
            <% f.object.errors.full_messages.each do |message| %>
              <span class="help-block"><%= message %></span>
            <% end %>
          </div>
        </div>
        <%= f.submit 'Create a new deck', class: 'btn btn-large btn-primary', disable_with: 'Please wait...' %>
      <% end %>
    </div>
  </div>
</div>
